body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background: #FFFFFF;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

.header {
    background: radial-gradient(circle at 50% 100%, rgba(99, 102, 241, 0.1) 0%, rgba(218, 70, 239, 0.05) 42%, rgba(241, 244, 253, 0.07) 83%);
    max-height: 800px;
}

.footer {
    background: #FFFFFF;
}

.testimonials-section, .subscribe-section {
    background: #F3F6FF;
}

@media (max-width: 480px) {
    .header-title {
        font-size: 32px;
    }

    .header-subtitle {
        font-size: 14px;
    }

    .features1-title {
        font-size: 32px;
    }

    .features1-subtext {
        font-size: 14px;
    }

    .slider-container img {
        width: 100%;
        height: auto;
    }

    .panel-content {
        padding: 16px;
    }

    .panel-text {
        font-size: 14px;
    }

    .subscribe-container {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .input-group {
        width: 100%;
    }
}

body.dark-mode {
    background-color: #0B0F19;
    color: #FFFFFF;
}

.dark-mode .navbar {
    background-color: #1F2937;
}

.dark-mode .footer {
    background-color: #1F2937;
    color: #FFFFFF;
}

.toggle-input {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

body.dark-mode {
    background-color: #0B0F19;
    color: #FFFFFF;
}

.dark-mode .navbar {
    background-color: #1F2937;
}

.dark-mode .navbar .silicon,
.dark-mode .features-text,
.dark-mode .nav-link,
.dark-mode .sign-in {
    color: #FFFFFF;
}

.dark-mode .header {
    background: radial-gradient(circle at 50% 100%, rgba(99, 102, 241, 0.3) 0%, rgba(218, 70, 239, 0.15) 42%, rgba(241, 244, 253, 0.17) 83%);
}

.dark-mode .testimonials-section,
.dark-mode .subscribe-section {
    background-color: #111827;
}

.dark-mode h1, .dark-mode h2, .dark-mode h4, .dark-mode p, .dark-mode span {
    color: #FFFFFF;
}

.dark-mode .learn-more-btn {
    background-color: #4F46E5;
}

.dark-mode .learn-more-btn:hover {
    background-color: #3B82F6;
}

.dark-mode .features1-icon {
    background: rgba(255, 255, 255, 0.08);
}

.dark-mode .features1-text h5,
.dark-mode .features1-text p {
    color: #E5E7EB;
}

.dark-mode .faq-section .faq-title,
.dark-mode .faq-section .faq-subtitle,
.dark-mode .icon-box .txt {
    color: #D1D5DB;
}

.toggle-label {
    position: relative;
    width: 46px;
    height: 24px;
    background: #9397AD;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    box-shadow: 0px 1px 4px rgba(57, 69, 90, 0.3);
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
    background-color: #6366F1;
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(22px);
}

.dark-mode .slider-section {
    background-color: #111827;
}

.dark-mode .slider-title {
    color: #E5E7EB;
}

.dark-mode .description-title,
.dark-mode .description-text {
    color: #E5E7EB;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 76px;
    padding-left: 312px;
    padding-right: 312px;
    box-sizing: border-box;
}

.navbar-logo-wrapper {
    display: flex;
    align-items: center;
    gap: 7.5px;
}

.navbar-logo {
    width: 47px;
    height: 44px;
}

.silicon {
    font-size: 18px;
    color: #0B0F19;
    font-weight: 600;
}

.menu {
    display: flex;
    align-items: center;
    margin-right: 743px;
}

.features-text {
    font-family: 'Manrope', sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 160%;
    margin-left: 48px;
}

.theme-switcher {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-right: 32px;
    white-space: nowrap;
}

.theme-switcher .nav-link {
    font-family: 'Manrope';
    font-weight: 600;
    font-size: 14px;
    color: #565973;
    white-space: nowrap;
}

.toggle-label {
    position: relative;
    width: 46px;
    height: 24px;
    background: #9397AD;
    border-radius: 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.toggle-label::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    background: #FFFFFF;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    box-shadow: 0px 1px 4px rgba(57, 69, 90, 0.3);
    transition: transform 0.3s ease;
}

.toggle-input:checked + .toggle-label {
    background-color: #6366F1;
}

.toggle-input:checked + .toggle-label::before {
    transform: translateX(22px);
}

.sign-in {
    width: 140px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6366F1;
    border-radius: 4px;
    color: white;
    font-size: 14px;
    outline: none;
    border: none;
    box-sizing: border-box;
}
 
.header {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    height: 800px;
    font-family: 'Manrope', sans-serif;
}

.header-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    max-width: 526px;
    padding-top: 148px;
}

.header-title {
    font-size: 56px;
    font-weight: 800;
    line-height: 73px;
    color: #0B0F19;
}

.header-subtitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: #565973;
}

.market-btns {
    display: flex;
    gap: 24px;
}

.header-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-shrink: 0;
    margin-top: 112px;
}

.iphone-image {
    width: auto;
    height: auto;
    max-width: 746px;
    max-height: 688px;
}

.discover-more {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    padding-right: 398px;
    padding-top: 216px;
    white-space: nowrap;
    margin-bottom: 64px;
}

.discover-more span {
    font-size: 14px;
    color: #565973;
    line-height: 1;
    vertical-align: middle;
}

.next-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: transparent;
    border: none;
    box-shadow: none;
    border-radius: 50%;
    cursor: pointer;
}

.logos-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1296px;
    height: 100px;
    margin: 0 auto;
    gap: 24px;
    padding: 0;
    margin-top: 96px;
    margin-bottom: 112px;
}

.logo {
    width: 196px;
    height: 100px;
    background: transparent;
    border: 1px solid #E2E5F1;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features1-section {
    font-family: 'Manrope', sans-serif;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    max-width: 1296px;
    margin: 0 auto;
    padding: 100px 0;
    box-sizing: border-box;
    margin-bottom: 180px;
}

.features1-image-container {
    width: 348px;
    height: 684px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 202px;
}

.features1-iphone-image {
    max-width: 100%; 
    height: auto;
}

.features1-header-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 746px;
    margin-bottom: 40px;
}

.features1-title {
    font-weight: 800;
    font-size: 40px;
    line-height: 130%;
    color: #0B0F19;
    margin-bottom: 13px;
}

.features1-subtext {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9397AD;
    max-width: 746px;
    margin-bottom: 67px;
}

.features1-content-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 48px; 
    column-gap: 56px; 
    max-width: 746px;
    width: 100%;
}

.features1-icon-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
    padding: 0;
    width: 345px;
    height: 118px;
    box-sizing: border-box;
}

.features1-icon {
    width: 60px;
    height: 60px;
    background: rgba(99, 102, 241, 0.08);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.features1-icon-image {
    width: 100%; 
    height: 100%;
    object-fit: contain;
}

.features1-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 261px;
    height: auto;
}

.features1-text h5 {
    font-weight: 800;
    font-size: 20px;
    line-height: 140%;
    color: #0B0F19;
    margin: 0;
}

.features1-text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565973;
    margin: 0;
    display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
}

.slider-section {
    width: 100%;
    background-color: #F3F6FF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 0;
    margin-top: 80px;
}

.slider-title {
    font-size: 40px;
    font-weight: 800;
    color: #0B0F19;
    text-align: center;
    margin-bottom: 48px;
}

.slider-images {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    padding: 0 16px;
    max-width: 100%;
    margin-bottom: 40px;
}

.slider-container {
    display: flex;
    justify-content: center;
    flex: 1;
}

.image-slider {
    width: 328px;
    height: 663px;
}

.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 16px;
    max-width: 636px;
    margin-top: 50px;
}

.description-title {
    font-size: 24px;
    font-weight: 800;
    color: #0B0F19;
    margin-bottom: 12px;
}

.description-text {
    font-size: 16px;
    color: #565973;
    line-height: 1.6;
}

.features2 {
    display: flex;
    flex-direction: column;
    max-width: 1076px;
    margin: 0 auto;
    padding: 40px 0;
}

.top-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 416px;
    height: 302px;
    margin-right: 134px;
}

.top-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-right img {
    max-width: 100%;
    height: auto;
    border-radius: 24px;
}

.top-left h2 {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 130%;
    color: #0B0F19;
    margin-bottom: 20px;
}

.features-list {
    list-style: none;
    padding: 0;
    margin: 0 0 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.features-list li {
    display: flex;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565973;
    gap: 8px;
}

.check-icon {
    width: 20px;
    height: 20px;
    background-color: #6366F1;
    border-radius: 50%;
    margin-right: 8px;
}

.learn-more-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 11px 28px;
    background-color: #6366F1;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    width: 159px;
    height: 44px;
    border: none;
    cursor: pointer;
    position: relative;
}

.learn-more-btn:hover {
    background-color: #8B5CF6;
}

.learn-more-btn .icon-r {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.bottom-section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1076px;
    height: 500px;
}

.bottom-left {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 526px;
    height: 500px;

}

.bottom-left img {
    width: 526px;
    height: 500px;
    border-radius: 24px;
}

.bottom-right {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 24px;
    width: 526px;
    height: 362px;
    margin-top: -69px;
}

.features2-icon-box {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    max-width: 243px;
    width: 100%;
    margin-top: 40px;
    white-space: nowrap;
}

.features2-icon-box img {
    width: 60px;
    height: 60px;
    background: rgba(99, 102, 241, 0.08);
    border-radius: 8px;
}

.features2-icon-box p {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: #565973;
}

.learn-more-btn {
    align-self: flex-start;
    padding: 11px 28px;
    background-color: #6366F1;
    color: #ffffff;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    width: 159px;
    height: 44px;
    border: none;
    cursor: pointer;
    position: relative;
    white-space: nowrap;
    margin-top: 40px;
}


.learn-more-btn:hover {
    background-color: #8B5CF6;
}

.learn-more-btn .icon-r img {
    width: 20px; 
    height: 20px;
    max-width: 100%;
    max-height: 100%;
}

.testimonials-section {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    height: 542px;
    background: #F3F6FF;
    padding: 112px;
    box-sizing: border-box;
}

.testimonial-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 134px;
}

.testimonial-title h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: #0B0F19;
    margin: 0;
    height: 100%;
    display: flex;
    align-items: flex-start;
}

.testimonials-image-container {
    display: flex;
    gap: 24px;
}

.testimonials-image img {
    width: 416px;
    height: 350px;
}

.faq-section {
    flex: 1;
    margin: 0;
    padding: 0;
    position: relative;
}

.faq-section .faq-title {
    font-family: 'Manrope', sans-serif;
    font-weight: 800;
    font-size: 32px;
    line-height: 42px;
    color: #0B0F19;
    margin-bottom: 32px;
}

.faq-section .faq-subtitle {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 29px;
    color: #565973;
    margin-bottom: 40px;
}

.icon-box-container {
    display: flex;
    flex-direction: row;
    gap: 24px;
    margin-top: 40px;
}

.icon-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    border: 1px solid #E2E5F1;
    border-radius: 8px;
    width: 196px;
    height: auto;
}

.icon-box .icon {
    width: 28px;
    height: 28px;
    margin-bottom: 16px;
}

.icon-box .txt {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #565973;
    flex-grow: 1;
}

.icon-box-left .txt-link,
.icon-box-right .txt-link {
    display: flex;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 14px;
    margin-top: 19px;
    margin-bottom: 32px;
}

.icon-box-left .txt-link {
    color: #6366F1;
}

.icon-box-right .txt-link {
    color: #22C55E;
}

.icon-box-left .txt-link img,
.icon-box-right .txt-link img {
    margin-left: 8px;
    width: 20px;
    height: 20px;
}

.faq-accordion-wrapper {
    display: flex;
    justify-content: space-between;
    position: relative;
    width: 1297px;
    box-sizing: border-box;
    max-width: 100%;
    margin: 112px auto 0;
}

.accordion-container {
    display: flex;
    flex-direction: column;
    width: 746px;
    margin-left: 134px;
    gap: 16px;
}

.panel-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 21px 24px;
    gap: 24px;
    width: 746px;
    background: transparent;
    box-shadow: 0px 4.4px 12px -1px rgba(19, 16, 34, 0.06), 0px 2px 6.4px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    height: 68px;
}

.panel-text {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 16px;
    line-height: 160%;
    width: 638px;
    color: #0B0F19;
    margin-left: 0;
    margin-right: auto;
}

.panel-content .panel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
}

.panel-content .panel-arrow img {
    width: 36px;
    height: 36px;
}

.panel.panel-open {
    display: flex;
    flex-direction: column;
    width: 746px;
    background: transparent;
    box-shadow: 0px 4.4px 20px -1px rgba(19, 16, 34, 0.05), 0px 4px 9px -1px rgba(19, 16, 34, 0.03);
    border-radius: 8px;
    height: auto;
}

.panel.panel-open .panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-left: 24px;
    margin-top: 24px;
    
}

.panel.panel-open .panel-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55px; 
    height: 55px; 
    background: transparent;
    box-shadow: none; 
    border-radius: 50%;
    margin-right: 38px;
}

.panel.panel-open .panel-arrow img {
    width: 55px; 
    height: 55px;
    object-fit: contain;
}

.panel-description {
    font-family: 'Manrope', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #565973;
    margin-left: 24px;
    margin-bottom: 24px;

}

.subscribe-section {
    width: 1296px;
    height: 222px;
    background: #F3F6FF;
    border-radius: 8px;
    margin: auto;
    margin-top: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  .subscribe-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .first-container {
    display: flex;
    align-items: center;
    margin-left: 110px;
  }
  
  .notification-image {
    width: 78px;
    height: 78px;
    margin-right: 32px;
  }
  
  .subscribe-title {
    font-size: 24px;
    font-weight: 800;
    color: #0B0F19;
  }
  
  .second-container {
    display: flex;
    align-items: center;
  }
  
  .input-group {
    display: flex;
    align-items: center;
    width: 472px;
    height: 52px;
    background-color: #FFFFFF;
    border: 1px solid #D4D7E5;
    border-radius: 8px;
    justify-content: space-between;
  }
  
  .iconletter {
    display: flex;
    align-items: center;
  }
  
  .bx-envelope {
    width: 20px;
    height: 20px;
    margin-right: 8px;
    margin-left: 16px;
  }
  
  .small-text {
    color: #B4B7C9;
    font-size: 16px;
  }
  
  .subscribe-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 142px;
    height: 52px;
    background-color: #6366F1;
    color: #FFFFFF;
    font-weight: 600;
    font-size: 16px;
    border: none;
    border-radius: 0px 8px 8px 0px;
    cursor: pointer;
  }
  
  body {
    font-family: 'Manrope', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.footer {
    width: 100%;
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0px;
}

.footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 856px;
    text-align: center;
}

.footer-text {
    font-family: 'Manrope', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
    color: #9397AD;
}
